@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('/images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-siz: cover;
    background-size: cover;
}
.degrees::after{
    content: '\00b0';
}